@use './settings';

html, body {
  @apply p-0 m-0;
}

html {
  @apply h-screen w-screen;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  @apply h-full w-full;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}